{% extends "base.html" %}
{% load static %}

{% block title %}{{ article.title }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'blog/styles/style.css' %}">
{% endblock %}

{% block content %}
<h1 class="BlogDetailsArticleTitle">Blog</h1>

<section class = "BlogDetailsArticleSection">
    <div class = "BlogDetailsArticleContainer">
        <h1 class="BlogDetailsArticleTitleInner">{{article.title}}</h1>
        <p class ="BlogDetailsArticleDate"> This article was written on: {{article.creation_date}} </p>
        <p class ="BlogDetailsArticleAuthor">Written by: {{article.author}}</p>
        {% if article.author.display_name == user.profile.display_name %}
        <p class="BlogDetailsArticleUpdate"><a href ="{% url 'blog:article_update' id=article.id %} ">Article Update</a></p>
        {% endif %}
        <hr>
        <div class ="BlogDetailsHeaderImage"><img src ="{{article.header_image.url }}"></div>
        <div class = "BlogDetailsArticleEntry">{{article.entry}}</div>
    </div>
</section>

<section class = "BlogDetailsCommentSection">
    <div class = "BlogDetailsAddCommentContainer">
        <h1 class = "BlogDetailsAddCommentTitle">Add a comment...</h1>
        <div class = "BlogDetailsAddCommentForm">
                <form method="post" action="{% url 'blog:blog_detail' article.id %}">
                {% csrf_token %}
                {{ comment_form.as_p }}
            <button type="submit">Post Comment</button>
            </form>
        </div>
            <hr>
        <div class="BlogDetailsAllCommentsContainer">
            <h1 class = "BlogDetailsAllCommentsTitle">Comments:</h1>
            {% for comment in comments %}
            <div>
                <p><strong>{{ comment.author.user.username }}:</strong> {{ comment.entry }}</p>
                <p><em>{{ comment.creation_date }}</em></p>
            </div>
            {% empty %}
                <p>No comments yet.</p>
            {% endfor %}
        </div>
    </div>
   
</section>

<section class = "BlogDetailsOtherArticleSection">
    <div class = "BlogDetailsOtherArticlesContainer">
        <h1 class = "BlogDetailsOtherArticlesHeader">You may be interested in {{article.author}}'s other works. </h1>
        <hr>
        <div class = "InnerBlogDetailsOtherArticlesContainer">
            {% for other_article in other_articles %}
            <div class = "OtherArticleDate"> Written on {{other_article.creation_date}} </div>
            <div class  = "OtherArticleTitle"><a href="{% url 'blog:blog_detail' other_article.id %}">{{other_article.title }}</a></div>
             {% empty %}
            <div class = "NoOtherArticles">No other articles by this author.</div>
                {% endfor %}
        </div>
    </div>
    <div class="ArticleListButtonContainer">
        <a href="{% url 'blog:blog_list' %}">
            <button class="addButton">Go Back to Article List</button>
        </a>
    </div>
</section>

{% endblock %}