{% extends 'base.html' %}
{% load static %}
{% block title %}{{ profile.display_name}}'s Profile{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'user_management/styles/style.css' %}">
{% endblock %}

{% block content %}
 <div class="profile-container">
    <div class="profile-left">
        {% if profile.image %}
        <div class="user-image">
            <img src="{{ profile.image.url }}" style="max-width: 200px; height: auto; border-radius: 20px;">
        </div>
        <div class="username-display">
            {{ profile.display_name }}
            <br>
            {{ profile.email_address}}
        </div>
        {% endif %}
        
    </div>

    <div class="profile-right">
        {% if request.user == user %}
        <div class="profile-details">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %} 