{% extends 'base.html' %}
{% load static%}
{% block title %} Password Reset {% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'accounts/styles/style.css' %}">
{% endblock %}

{% block content %}
    <div class="form-container">
        {% if form.errors %}
        {% for field in form %}
            {% for error in field  %}
                {{error}}
            {% endfor %}
        {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Reset</button>
    </form>
    </div>
    
{% endblock %}
