body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
.BlogTitle {
    text-align: center;
    font-size: 2em;
    color: white;
    background-color: #0056b3;
    padding: 1rem;
}

.UserArticlesContainer{
    margin: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border-style: solid;
    border-radius: 5px;
    border-color: gray;
    grid-auto-rows: auto;
}

.UserArticlesHeader{
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 20px;
}

.UserArticlesHeader::after {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: gray;
}

.InnerUserContainer{
    display: grid;
    grid-column: 1/ -1;
    grid-template-columns: 1fr 1fr 1fr;
}

.Date, .Category, .Title, .OtherArticleCategory, .Description,.Author ,.OtherArticleDate ,.OtherArticleTitle{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.AllArticlesContainer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border-style: solid;
    border-radius: 5px;
    border-color: gray;
    grid-auto-rows: auto;
    margin: 100px;
}

.AllArticlesHeader{
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 20px;
}
.AllArticlesHeader::after{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: gray;
}


.InnerAllClassContainer{
    display: grid;
    grid-column: 1/ -1;
    grid-template-columns: 1fr 1fr 1fr;
}

.OtherArticleCategory{
    font-weight: bold;
    grid-column:1;
    font-size: 25px;
}
.Description{
    grid-column: 2;
}

.AddButton {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.8em;
  margin: 20px auto;        
  display: inline-block;   
  text-align: center;       
}
.ButtonWrapper{
  display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px; 
    text-align: center;
}
.AddButton:hover{
    background-color: #0056b3;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.BlogDetailsArticleTitle {
    text-align: center;
    font-size: 2em;
    color: white;
    background-color: #0056b3;
    padding: 1rem;
}

.BlogDetailsArticleContainer{
    display: grid;
    border-style: solid;
    border-radius: 5px;
    border-color: gray;
    grid-auto-rows: auto;
    margin: 100px;
    margin-top :75px;
    padding: 20px;
}

.BlogDetailsArticleTitleInner{
    font-size: 2em;
}

hr {
    border: none;
    height: 2px;
    background-color: gray;
    margin: 20px auto;
    width: 95%;
    display:flex;
    justify-content: center;
    text-align: center;
}

.BlogDetailsAddCommentContainer{
    display: grid;
    border-style: solid;
    border-radius: 5px;
    border-color: gray;
    grid-auto-rows: auto;
    margin: 100px;
    margin-top :75px;
    padding: 20px;
}
.BlogDetailsAddCommentForm textarea {
    width: 100%;     
    height: 80px;   
    padding: 10px;  
    font-size: 1em;
}

.BlogDetailsAddCommentForm button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.BlogDetailsAddCommentForm button:hover {
    background-color: #0056b3;
}

.UpdateArticleHeader{
    text-align: center;
    font-size: 2em;
    color: white;
    background-color: #0056b3;
    padding: 1rem;
}

.UpdateArticleContainer{
    display: grid;
    border-style: solid;
    border-radius: 5px;
    border-color: gray;
    grid-auto-rows: auto;
    margin: 100px;
    margin-top :75px;
    padding: 10px;
}
.UpdateArticleForm textarea {
    width: 100%;     
    height: 80px;   
    padding: 10px;  
    font-size: 1em;
}

.BlogDetailsOtherArticlesContainer {
    display: grid;
    border-style: solid;
    border-radius: 5px;
    border-color: gray;
    grid-auto-rows: auto;
    margin: 100px;
    margin-top :75px;
    padding: 10px;  
}

.BlogDetailsOtherArticlesHeader{
    font-size: 1.4em;
    margin-left: 20px;
}
.InnerBlogDetailsOtherArticlesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.OtherArticleDate, .OtherArticleTitle, .NoOtherArticles{
    display:flex;
    justify-content: center;
    padding: 15px;
}

.ArticleListButtonContainer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px; 
    text-align: center;
}

