{% extends "base.html" %}

{% load static %}

{% block title %}Wiki - Hobby Site{% endblock %}

{% block content %}
<h1>Wiki</h1>

{% for category in articlecategory %}
<h2>Category: {{category.name}}</h2>
<a>{{category.description}}</a>
<ul>
    {% for article in articles %}
    {% if article.category == category %}
    <li>
        <a href="{% url 'wiki:article_details' article.id %}">{{article.title}}</a>
        <p>Created on {{article.created_on}}</p>
        <p>Last updated on {{article.updated_on}}</p>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endfor %}

{% endblock %}