{% extends 'base.html' %}
{% load static %}

{% block title %} Commissions {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'commissions/styles/style.css' %}">
{% endblock %}

{% block content %}
<h1>COMMISSIONS</h1> <br>
<h2>Create</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Create Commission: </h2>
    {{ commission_form.as_p }}
    <h2>Create Jobs: </h2>
    {{job_form1.as_p}} <br>

    <button type="submit" value="submit">Submit</button>
</form>
{% endblock %}