{% extends 'base.html' %}
{% load static %}

{% block title %} Commissions {% endblock %}

{% block content %}
<h1>COMMISSIONS</h1> <br>
<h2>List</h2>
{% if user.is_authenticated %}
    <h3><a href="/commissions/add">Create Commission</a></h3>
    <h2>Created Commissions</h2>
    <ul>
        {% for commission in object_list %}
            {% if user.profile ==  commission.author%} 
                <h3><a href="{{commission.get_absolute_url}}">{{commission.title}}</a></h3>
                <li>Created on: {{commission.created_on}}</li>     
                <br>
            {% endif %}

        {% endfor %}
    </ul>
    <h2>Applied Commissions</h2>
    <ul>
        {% for app in applications %}
        {% if app.applicant == user.profile%}
            {% for job in jobs %}
            {% if app.job == job %}
                {% for com in commissions %}
                {% if job.commission == com %}
                    <h3><a href="{{com.get_absolute_url}}">{{com.title}} ({{job.role}})</a></h3>
                    <li>Applied on: {{app.applied_on}}</li>                     
                    <br>
                {% endif %}
                {% endfor %}
            {% endif %}
            {% endfor %}
        {% endif %}
        {% endfor %}
        {% for commission in object_list %}
            {% if user.profile ==  commission.title%} 
                <h3><a href="{{commission.get_absolute_url}}">{{commission.title}}</a></h3>
                <li>Created on: {{commission.created_on}}</li>                     
                <br>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
 
<h2>All Commissions</h2>
<ul>
    {% for commission in object_list %}
    <h3><a href="{{commission.get_absolute_url}}">{{commission.title}}</a></h3>
    <li>Created on: {{commission.created_on}}</li>
    <li>egg {{commission.status}}</li>                
    <br>
    {% endfor %}
</ul>
{% endblock %}