{% extends 'base.html' %}
{% load static %}

{% block title %} Commissions - Hobbysite {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'commissions/styles/style.css' %}">
{% endblock %}

{% block content %}
<h1 class="app-header">COMMISSIONS</h1> <br>
<div class = main-content>
<h2 class="com-header">Create a New Commission</h2>
<div class="coms">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Commission Details: </h2>
    {{ commission_form.as_p }}
    <h2>Job Details: </h2>
    {{job_form1.as_p}} <br>

    <button type="submit" value="submit">Submit</button>
</form>
</div>
{% endblock %}