{% extends 'base.html' %}
{% load static %}

{% block title %} Commissions - Hobby Site {% endblock %}

{% block content %}
<h1>COMMISSIONS</h1>
{% if user.is_authenticated %}
    <h2>Created Commissions {{user.profile}}</h2>
    <ul>
        {% for commission in object_list %}
            {% if user.profile ==  commission.author%} 
                <h3><a href="{{commission.get_absolute_url}}">{{commission.title}}</a></h3>
                <li>Created on: {{commission.created_on}}</li>     
                <br>
            {% endif %}

        {% endfor %}
    </ul>
    <h2>Applied Commissions {{user.profile}}</h2>
    <ul>
        {% for x in jobs %}
            <h1>dis is a test ulit {{x.manpower_required}}</h1>
        {% endfor %}
        {% for commission in object_list %}
            {% if user.profile ==  commission.%} 
                <h3><a href="{{commission.get_absolute_url}}">{{commission.title}}</a></h3>
                <li>Created on: {{commission.created_on}}</li>     
                <br>
            {% endif %}

        {% endfor %}
    </ul>
{% endif %}
 
<h2>All Commissions</h2>
<ul>

    {% for commission in object_list %}
    <h3><a href="{{commission.get_absolute_url}}">{{commission.title}}</a></h3>
    <li>Created on: {{commission.created_on}}</li>
    <br>

    {% endfor %}
</ul>
{% endblock %}