{% extends 'base.html' %}
{% load static %}

{% block title %} Commissions - Hobbysite {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'commissions/styles/style.css' %}">
{% endblock %}

{% block content %}
<h1>COMMISSIONS</h1> <br>
<h2>Update</h2>

<div class="user-info">
    <p><strong>Logged in user:</strong> {{ user.username }}</p>
    
</div>
Title: {{commission.title}} <br>
Author: {{commission.author}} <br>
Created on: {{commission.created_on}} <br>
Status: {{commission.get_status_display}} <br>
Description: {{commission.description}} <br>

<form method="POST">
  {% csrf_token %}
  {{ commission_form.as_p }}
  <button type="submit">Update Commission</button>
</form>

{% endblock %}