{% extends 'base.html' %}
{% load static%}
{% block title %}Register{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'accounts/styles/style.css' %}">
{% endblock %}

{% block content %}
    <div class="form-container">
        <div style="font-size: large; font-weight: bold;">REGISTER: </div>
        <hr style="width:50%;text-align:left;margin-left:0">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit" value ="submit" class="btn">Submit</button>
        </form>
    </div>
    
    
{% endblock %}