{% load static %}
<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale = 1" />
        <title>{% block title %}Hobby Site{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'styles/base.css' %}">
        {% block head %}
        {% endblock %}
    </head>


    <body>
         <header class="header">
        <a href="#" class="name">Hobby Site</a>
        <nav class = "navbar">
            <a href="{% url 'blog:blog_list'%}">Blog</a>
            <a href="{% url 'commissions:commissions-list'%}">Commissions</a>
            <a href="{% url 'merchstore:product-list'%}">Merchstore</a>
            <a href="{% url 'wiki:article_list'%}">Wiki</a>
         {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Log out</a>
        {% else %}
            <a href="{% url 'login' %}">Log in</a>
        {% endif %}
        </nav>
    </header>

        {% block content %}
        {% endblock %}
    </body>
</html>