{% extends 'base.html' %}
{% load static %}

{% block title %} Cart {% endblock %}

{% block content %}
<h1>MERCHSTORE</h1>
<h2>{{error_message}}</h2>
Logged in user: {{user.username}}
<p><a href="{% url 'merchstore:product-list' %}">View Items</a></p>
Items in Cart:<br>
<p>Total Price: {{total_price}}</p>
{% for seller in sellers %}
<p>Seller: {{seller.display_name}}</p>
{% for item in items_on_cart %}
{% if item.product.owner == seller %}
<li>{{item.product.name}} -- QTY: {{item.amount}}<a href="{% url 'merchstore:cart-item-edit' pk=item.pk %}">Edit</a> </li>

{% endif %}
{% endfor %}
{% endfor %}
{% endblock %}