{% extends 'base.html' %}
{% load static %}

{% block title %}
Create Product
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'merchstore/styles/style.css' %}">
{% endblock %}

{% block content %}
<h1 class="page-title">MERCHSTORE</h1>
<h2 class="error-message">{{ error_message }}</h2>

<div class="user-product">
    <a href="{% url 'merchstore:cart-list' %}" class="btn">View Cart</a>
    <a href="{% url 'merchstore:product-list' %}" class="btn">View Items</a>
    <a href="{% url 'merchstore:transactions' %}" class="btn">View Transactions</a>
</div>

<div class="main-content">
    <h2 class="section-title">Create Product: </h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit" value="submit" class="btn">Submit</button>
    </form>
</div>

{% endblock %}