{% extends 'base.html' %}
{% load static %}

{% block title %} Product List {% endblock %}

{% block content %}
<h1>MERCHSTORE</h1>
<h2>{{error_message}}</h2>
Logged in user: {{user.username}}
<p><a href="{% url 'merchstore:product-create' %}">Create New Product</a></p>
<p><a href="{% url 'merchstore:cart-list' %}">View Cart</a></p>

<h2>User's Products:</h2>
    <ul>
        {% for product_type in product_types %}
        <h3>Product Type: {{product_type.name}} </h3>

        {% for product in products %}
        {% if product_type == product.product_type and product.owner == user.profile %}
        <li><a href="{{product.get_absolute_url}}">{{product.name}}</a> ₱{{product.price}} <br> Available Stock: {{product.stock}}
        </li>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </ul>

<h2>Products for Sale:</h2>
    <ul>
        {% for product_type in product_types %}
        <h3>Product Type: {{product_type.name}} </h3>

        {% for product in products %}
        {% if product_type == product.product_type and product.owner != user.profile %}
        <li><a href="{{product.get_absolute_url}}">{{product.name}}</a> ₱{{product.price}} <br> Available Stock:
            {{product.stock}}</li>
        {% endif %}
        {% endfor %}
        {% endfor %}
        
        {% endblock %}
    </ul>