{% extends 'base.html' %}
{% load static %}

{% block title %} Transactions {% endblock %}

{% block content %}
<h1>MERCHSTORE</h1>
<h2>{{error_message}}</h2>
Logged in user: {{user.username}}
<p><a href="{% url 'merchstore:product-list' %}">View Items</a></p>
<p><a href="{% url 'merchstore:cart-list' %}">View Cart</a></p>
<p>Total Value: {{projected_earnings}}</p>
<br> Transactions Made as Seller:
{% for buyer in buyers %}
<p>Buyer: {{buyer.display_name}}</p>
{% for item in transactions_sold %}
{% if item.buyer == buyer %}
{% if item.product.image %}
    <img src="{{ item.product.image.url }}" alt="">
    {% endif %}
<li>{{item.product.name}} -- QTY: {{item.amount}} -- STATUS: {{item.status}} -- CREATED ON: {{item.created_on}}
{% endif %}
{% endfor %}
{% endfor %}
</ul>
{% endblock %}