{% extends 'base.html' %}
{% load static %}

{% block title %} Transactions {% endblock %}

{% block content %}
<h1>MERCHSTORE</h1>
    <h2>{{error_message}}</h2>
    Logged in user: {{user.username}}
    <br> Transactions Made as Seller:
    {% for buyer in buyers %}

        {% for item in transactions_sold %}
        {% if item.buyer == buyer %}
            <li>{{item.product.name}}</li>
            <li>{{item.amount}}</li>
            <li>{{item.status}}</li>
            <li>{{item.created_on}}</li>
            {% endif %}
        {% endfor %}
    {% endfor %}
</ul>
{% endblock %}